
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predict</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
</head>
<body>
    <br>
    <div class="container">

        <div class="row">
            <div class="col-md-12 bg-light text-right">
                <a href="/home" class="btn btn-info btn-lg">INDEX</a>
                <a href="/predict" class="btn btn-primary disabled btn-lg">Predict</a>
            </div>
        </div>

        <br>
        <h1><strong>car performance analysis</strong></h1><br>
         <h4>
         <form action="/pred", method="POST">
              <div class="form-group row">
                  <div class="col-md-3">
                      <label for="mpg">mpg </label>
                      <input type="number" class="form-control" name="mpg"min=3 max=10 step=0.01 id="pH"  placeholder="pH" required="required"/>
                  </div>
              </div>
               <div class="form-group row">
                   <div class="col-md-3">
                       <label for="cylinders">cylinders</label>
                       <input type="number" class="form-control" name="cylinders" id="cylinders"  placeholder="cylinders" required="required"/>
                   </div>
               </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label for="displacement">displacement</label>
                        <input type="number" class="form-control" name="displacement" id="displacement"  placeholder="displacement" required="required"/>
                    </div>
                </div>
                 <div class="form-group row">
                     <div class="col-md-3">
                         <label for=" horsepower"> horsepower </label>
                         <input type="number" class="form-control" name=" horsepower" id="horsepower"  placeholder="horsepower" required="required"/>
                     </div>
                 </div>
                  <div class="form-group row">
                      <div class="col-md-3">
                          <label for="weight">weight</label>
                          <input type="number" class="form-control" name="weight" id="weight"  placeholder="weight" required="required"/>
                      </div>
                  </div>
                   <div class="form-group row">
                       <div class="col-md-3">
                           <label for="acceleration">acceleration</label>
                           <input type="number" class="form-control" name="acceleration" id="acceleration"  placeholder="acceleration" required="required"/>
                       </div>
                   </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label for=" model year "> model year </label>
                            <input type="number" class="form-control" name=" model year " id=" model year "  placeholder=" model year " required="required"/>
                        </div>
                    
                     </div>
                      <div class="form-group row">
                          <div class="col-md-3">
                              <label for=" origin   "> origin    </label>
                              <input type="number" class="form-control" name=" origin   " id=" origin   "  placeholder=" origin   " required="required"/>
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="col-md-3">
                              <label for=" car name "> car name </label>
                              <input type="number" class="form-control" name=" car name " id=" car name "  placeholder=" car name " required="required"/>
                          </div>
                          </div>
                    
            <button type="submit" class="btn btn-success btn-lg">Submit</button>



        </form>
        <br>
        </h4>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>